<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>{{ 'TURNS.CLIENT' | translate }}</th>
                <th>{{ 'TURNS.SERVICE' | translate }}</th>
                <th>{{ 'TURNS.DATE' | translate }}</th>
                <th>{{ 'TURNS.STATUS' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let turn of turns()">
                <td class="client-name">{{ turn.clients?.full_name }}</td>
                <td class="service-name">{{ turn.service_name }}</td>
                <td class="date">{{ turn.appointment_date | date:'short' }}</td>
                <td class="status">
                    <span [class]="'badge ' + turn.status">{{ ('TURNS.' + turn.status.toUpperCase()) | translate
                        }}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>