<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Servicio</th>
                <th>Hora</th>
                <th>Fecha</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let turn of turns()">
                <td class="client-name">{{ turn.clients?.full_name }}</td>
                <td class="service-name">{{ turn.service_name }}</td>
                <td class="time">{{ turn.appointment_date | date:'HH:mm' }}</td>
                <td class="date">{{ turn.appointment_date | date:'shortDate' }}</td>
                <td class="status">
                    <span [class]="'badge ' + turn.status">{{ turn.status | titlecase }}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>